<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title JS2-HW3
  script(src="js/script.js")
  link(rel="stylesheet", href="css/style.css")
body
  - var inputs = ["Name", "Phone", "Email", "Text"];
    for input in inputs
      .wrap
        input(type="text", id=input, placeholder=input)
        button(id="check" + input) Check
  #text-block
    | 'dialog sdf', 'dialog sdf sdf sdf sdfsdf. Asd sd.sd sa.dasd s', 'sdf fasd fa df sdf asd fas'
    | 'dialog sdf', 'dialog sdf sdf sdf sdfsdf. Asd sd.sd sa.dasd s', 'sdf fasd fa df sdf asd fas'
  button(id="replaceSymbol") Replace