<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title JS2-HW2
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
	script(src="js/script.js")
	link(rel="stylesheet", href="css/style.css")
body
	.tabs
		ul.tabs__caption
			li.active 1-я вкладка
			li 2-я вкладка

		div(class="tabs__content active") Содержимое первого блока
		.tabs__content