<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title HW8
  script(src="js/script.js")
  link(rel="stylesheet", href="css/style.css")
body
  #snake-field
  #start-game Start
  #new-game New game
  #score-field Score: 0
  .qa
    pre
      | if (!("a" in window)) {
      |   var a = 1;
      | }
      | alert(a);
      
      | // undefined.

      | var b = function a(x) {
      |     x && a(--x);
      | };
      | alert(a);

      | // undefined.
      
      | function a(x) {
      |   return x * 2;
      | }
      | var a;
      | alert(a);
      
      | // Вернет переменную a

      | function b(x, y, a) {
      |   arguments[2] = 10;
      |   alert(a);
      | }
      | b(1, 2, 3);
      
      | // 10

      | function a() {
      |   alert(this);
      | }
      | a.call(null);

      | // null