<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title snake-final
  script(src="js/script.js")
  link(rel="stylesheet", href="css/style.css")
body
  #snake-field
  #start-game Start
  #new-game New game
  #score-field Score: 0