<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	link(rel="stylesheet", href="css/style.css")
body
	.box.box--1
		h2 1
		script.
			//- var a = 1, b = 1, c, d; c = ++a; console.log(c); // 2 d = b++; alert(d); // 1 c = (2+ ++a); alert(c); // 5 d = (2+ b++); alert(d); // 4 alert(a); // 3 alert(b); // 3
	.box.box--2
		h2 2
		//- script.
		//- 	let a = 2;
		//- 	let x = 1 + (a *= 2);
		//- 	console.log(x);
	.box.box--3
		h2 3 - Введите целое число
		input(type="text", id="a3", class="input", placeholder='var a', value="5", pattern="[0-9]*")
		input(type="text", id="b3", class="input", placeholder='var b', value="10", pattern="[0-9]*")
		button(type="submit", onclick="diffNum()", class="button") Count
		.result.result--3

	script(src="js/script.js")