<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	link(rel="stylesheet", href="css/style.css")
body
	.wrapper
		.box.box--1
			h2 1
			.box.box--inner
				pre.
					1 |	var a = 1, b = 1, c, d;
					2 |	c = ++a; console.log(c); // 2
					3 |	d = b++; console.log(d); // 1
					4 |	c = (2+ ++a); console.log(c); // 5
					5 |	d = (2+ b++); console.log(d); // 4
					6 |	console.log(a); // 3
					7 |	console.log(b); // 3
			.box.box--inner
				ol
					li var a = 1, b = 1, c, d;
					li Применен префиксный инкремент. Сначала произведено инкрементирование - потом возвращено число.
					li Постфиксный инкремент. Сначала возвращено число, потом произведен инкремент.
					li Получилось 5 потому-что переменная "а" уже была инкрементирована в строке 2. После итерации в текущей строке значение "а" стало 3.
					li Было возращено предыдущее значение "b", после уже произведен его инкремент. "b" стало равнятся трем уже после возвращения значения в переменную "d".
					li Из-за проведенные инкрементов занчение переменной повысилось.
					li Из-за проведенные инкрементов занчение переменной повысилось.
		.box.box--2
			h2 2
			.box.box--inner
				pre.
					| let a = 2;
					| let x = 1 + (a *= 2);
					| console.log(x);
			.box.box--inner Результат вычислений = 5.
		.box.box--3
			h2 3 - Введите целое число
			input(type="text", id="a3", class="input", placeholder='var a', value="5")
			input(type="text", id="b3", class="input", placeholder='var b', value="10")
			button(onclick="numInteger()", class="button") Посчитать
			.result.result--3
		.box.box--4
			h2 4 - Switch от a до 15.
			input(type="text", id="a4", class="input", placeholder='var a', value="2")
			button(onclick="varSwitch()", class="button") Посчитать
			.result.result--4
		.box.box--5
			h2 5 - + * - /
			.wrapper
				input(type="text", id="a5", class="input input--sm", placeholder='arg1')
				input(type="text", id="b5", class="input input--sm", placeholder='arg2')
			.wrapper
				button(onclick="writeHTML('result--5', numSumm(parseInt(document.getElementById('a5').value), parseInt(document.getElementById('b5').value)))", class="button") Сумма
				button(onclick="writeHTML('result--5', numDiff(parseInt(document.getElementById('a5').value), parseInt(document.getElementById('b5').value)))", class="button") Разность
				button(onclick="writeHTML('result--5', numMult(parseInt(document.getElementById('a5').value), parseInt(document.getElementById('b5').value)))", class="button") Произведение
				button(onclick="writeHTML('result--5', numDiv(parseInt(document.getElementById('a5').value), parseInt(document.getElementById('b5').value)))", class="button") Отношение
			.result.result--5
		.box.box--6
			h2 6 - Multifunctional operations
			.wrapper
				input(type="text", id="a6", class="input input--sm", placeholder='arg1')
				input(type="text", id="b6", class="input input--sm", placeholder='arg2')
				select#op6
					option(value="Summ") Сумма
					option(value="Diff") Разность
					option(value="Mult") Произведение
					option(value="Div") Отношение
				button(onclick="document.getElementsByClassName('result--6')[0].innerHTML = numMultiaction()", class="button") Посчитать
			.result.result--6
		.box.box--7
			h2 7 - Сравнить null и 0
			.box.box--inner
				| null и undefined равны друг другу, но больше не равны ничему другому.
		.box.box--8
			h2 8 - Рекурсивное возведение в степень.
			input(type="text", id="a8", class="input", placeholder='число')
			input(type="text", id="b8", class="input", placeholder='степень')
			button(onclick="writeHTML('result--8', power(parseInt(document.getElementById('a8').value), parseInt(document.getElementById('b8').value)))", class="button") Посчитать
			.result.result--8
	script(src="js/script.js")